<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <h1>Sign Up</h1>
  </div>

  <div id="content_box">
    
    <div class="instructions">
      After signing up, you will be sent an email with further instructions.  You need that email in order to confirm your account, so make sure you enter a valid email address.  We won't share your info with anyone, except maybe Mike if he's wearing a scarf when he asks.
    </div>

    <%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
      <%= devise_error_messages! %>
      
      <br />
      <div class="field_label">Username</div>
      <div class="field_content"><%= f.text_field :username %></div>
      <div style="clear: both;"></div>
      
      <div class="field_label">Email</div>
      <div class="field_content"><%= f.email_field :email, :autofocus => true %></div>
      <div class="field_note">Required for account confirmation</div>
      <div style="clear: both;"></div>

      <div class="field_label">Password</div>
      <div class="field_content"><%= f.password_field :password %></div>
      <div style="clear: both;"></div>
    
      <div class="field_label">Confirm Password</div>
      <div class="field_content"><%= f.password_field :password_confirmation %></div>
      <div style="clear: both;"></div>
      
      <div class="field_label"><%= f.submit "SIGN UP", id: 'new_user_submit_btn', class: 'btn' %></div>
      <div style="clear: both;"></div>

    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>

  <div style="clear: both;"></div>

</div>