<div id="header_container">
  <div id="header">
    <h1>I'm gonna need to see some ID</h1>
    <!-- <h3><%= link_to "Sign in", new_session_path(resource_name), class: 'non-remote' %></h3> -->
  </div>
</div>

<div id="content">
    
  <h2>Sign up</h2>

  <div id="new_user_container">
    <%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
      <%= devise_error_messages! %>
      
      <br />
      <div class="field_label">Email</div>
      <div class="field_content"><%= f.email_field :email, :autofocus => true %></div>
      <div style="clear: both;"></div>

      <div class="field_label">Username</div>
      <div class="field_content"><%= f.text_field :username %></div>
      <div style="clear: both;"></div>
      
      <div class="field_label">Password</div>
      <div class="field_content"><%= f.password_field :password %></div>
      <div style="clear: both;"></div>
    
      <div class="field_label">Confirm Password</div>
      <div class="field_content"><%= f.password_field :password_confirmation %></div>
      <div style="clear: both;"></div>
      
      <div class="field_label"><%= f.submit "Sign up", id: 'new_user_submit_btn' %></div>
      <div style="clear: both;"></div>

    <% end %>
  </div>

  <%= render "devise/shared/links" %>

</div>