<div id="header_container">
  <div id="header">
    <h1>I'm gonna need to see some ID</h1>
    <!-- <h3><%= link_to "Sign in", new_session_path(resource_name), class: 'non-remote' %></h3> -->
  </div>
</div>

<div id="content">
    
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      
    <br />
    <div class="field_label">Email</div>
    <div class="field_content"><%= f.email_field :email, :autofocus => true %></div>
    <div style="clear: both;"></div>
      
    <div class="field_label">Password</div>
    <div class="field_content"><%= f.password_field :password %></div>
    <div style="clear: both;"></div>
    
    <div class="field_label">Confirm Password</div>
    <div class="field_content"><%= f.password_field :password_confirmation %></div>
    <div style="clear: both;"></div>
      
    <div class="field_label"><%= f.submit "Sign up" %></div>
    <div style="clear: both;"></div>

  <% end %>

  <%= render "devise/shared/links" %>

</div>