<div id="content">
  
  <div id="title_box">
    <h1>Sign Up</h1>
  </div>

  <div id="content_box">

    <%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
      <%= devise_error_messages! %>
      
      <br />
      <div class="field_label">Email</div>
      <div class="field_content"><%= f.email_field :email, :autofocus => true %></div>
      <div class="field_note">Required for account confirmation</div>
      <div style="clear: both;"></div>

      <div class="field_label">Username</div>
      <div class="field_content"><%= f.text_field :username %></div>
      <div class="field_note">A unique nickname to identify yourself to others</div>
      <div style="clear: both;"></div>
      
      <div class="field_label">Password</div>
      <div class="field_content"><%= f.password_field :password %></div>
      <div style="clear: both;"></div>
    
      <div class="field_label">Confirm Password</div>
      <div class="field_content"><%= f.password_field :password_confirmation %></div>
      <div style="clear: both;"></div>
      
      <div class="field_label"><%= f.submit "Sign up", id: 'new_user_submit_btn', class: 'btn btn-large' %></div>
      <div style="clear: both;"></div>

    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>

  <div style="clear: both;"></div>

</div>