<script type="text/javascript" charset="utf-8">
$(function() {
  $('#search_date').datepicker({
    dateFormat: "yy-mm-dd",
    changeYear: true,
    changeMonth: true,
    yearRange: '1987:2013',
    showOtherMonths: true,
    selectOtherMonths: true
  });
})
</script>

<%= render 'shared/index_header' %>

<div id="content">
  
  <div id="search_container">
    Search for &nbsp;
    <input type="text" name="date" id="search_date" placeholder="a date" value="<%= params[:date] %>">
    &nbsp;&nbsp;or &nbsp;&nbsp;
    <input type="text" name="date" id="search_term" placeholder="a term" value="<%= params[:term] %>">
    &nbsp;&nbsp;
    <button type="button" class="btn" id="search_submit">Search</button>
  </div>
  
  <% if @results %>
    <div id="search_results">
      <% unless @total_results and @total_results > 0 %>
        <p>Got a blank space where results should be</p>
      <% else %>
      
        <% if @show or @other_shows %>
          <% if @show %>
            <h3>Matched 1 Show Exactly</h3>
            <ul class="item_list clickable">
              <li>
                <%= content_tag :h2, link_to("<span class=\"highlight\">#{@show.date.strftime("%-m/%-d/%y")}</span>".html_safe, "/#{@show.date}") %>
                <%= content_tag :h4, link_to(@show.venue.name.html_safe, "/#{@show.venue.slug}") %>
                <%= content_tag :h5, link_to(@show.venue.location, "/map?term=#{CGI::escape(@show.venue.location)}") %>
                <div style="clear: both;"></div>
              </li>
            </ul>
          <% else %>
            <h5><i>No Exact Show Matches</i></h5>
          <% end %>
          <% if @other_shows %>
            <h3>Matched <%= pluralize(@other_shows.size, 'Show') %> on this Day in History</h3>
            <ul class="item_list clickable">
              <% for show in @other_shows %>
                <li>
                  <%= content_tag :h2, link_to("<span class=\"highlight\">#{show.date.strftime("%-m/%-d")}</span>#{show.date.strftime("/%y")}".html_safe, "/#{show.date}") %>
                  <%= content_tag :h4, link_to(show.venue.name.html_safe, "/#{show.venue.slug}") %>
                  <%= content_tag :h5, link_to(show.venue.location, "/map?term=#{CGI::escape(show.venue.location)}") %>
                  <div style="clear: both;"></div>
                </li>
              <% end %>
            </ul>
          <% end %>
          
        <% else %>
        
          <% if @songs.size > 0 %>
            <h3>Matched <%= pluralize(@songs.size, 'Song') %></h3>
            <ul class="item_list clickable">
            <% for song in @songs %>
              <li name="<%= song.slug %>">
                <%= content_tag :h2, link_to_song(song, params[:term]), class: 'wide' %>
                <%= content_tag :h3, performances_or_alias_link(song, true), class: 'alt' %>
                <div style="clear: both;"></div>
              </li>
            <% end %>
            </ul>
          <% end %>
          <% if @venues.size > 0 %>
            <h3>Matched <%= pluralize(@venues.size, 'Venue') %></h3>
            <ul class="item_list clickable">
              <% for venue in @venues %>
                <li>
                  <%= content_tag :h2, link_to(highlight(truncate(venue.name_and_abbrev, length: 45), params[:term]), "/#{venue.slug}"), class: 'wide' %>
                  <%= content_tag :h3, venue.shows_count, class: 'alt' %>
                  <%= content_tag :h5, link_to(highlight(venue.location, params[:term]), "/map?term=#{CGI::escape(venue.location)}") %>
                  <div style="clear: both;"></div>
                </li>
              <% end %>
            </ul>
          <% end %>
          <% if @tours.size > 0 %>
            <h3>Matched <%= pluralize(@tours.size, 'Tour') %></h3>
            <ul class="item_list clickable">
              <% for tour in @tours %>
                <li>
                  <%= content_tag :h2, link_to(highlight(truncate(tour.name, length: 45), params[:term]), "/#{tour.slug}"), class: 'wide' %>
                  <%= content_tag :h3, tour.shows_count, class: 'alt' %>
                  <div style="clear: both;"></div>
                </li>
              <% end %>
            </ul>
          <% end %>
          
        <% end %>
      <% end %>
    </div>
  <% end %>
  
</div>