<div class="btn_context">
  <div class="btn-group">
    <a class="btn dropdown-toggle btn-round" data-toggle="dropdown" href="null">
      <i class="icon-chevron-right"></i>
    </a>
    <ul class="dropdown-menu">
      <%= content_tag :li, link_to("<i class=\"icon-play\"></i>&nbsp;&nbsp;Play".html_safe, "null", class: 'context_play_track', data: { id: track.id }) %>
      <% if playlist %>
        <%= content_tag :li, link_to("<i class=\"icon-remove\"></i>&nbsp;&nbsp;Remove from Playlist".html_safe, "null", class: 'playlist_remove_track') %>
      <% else %>
        <%= content_tag :li, link_to("<i class=\"icon-plus-sign\"></i>&nbsp;&nbsp;Add to Playlist".html_safe, "null", class: 'playlist_add_track', data: { id: track.id }) %>
      <% end %>
      <%= content_tag :li, link_to('<i class="icon-share-alt"></i>&nbsp;&nbsp;Share'.html_safe, "null", class: 'share share_track', data: { url: "/#{show ? show.date : track.show.date}/#{track.slug}"}) %>
      <%= content_tag :li, link_to('<i class="icon-download"></i>&nbsp;&nbsp;Download MP3'.html_safe, "null", data: { url: download_track_path(track) }, class: "download") %>
      <%= content_tag :li, link_to('<i class="icon-book"></i>&nbsp;&nbsp;This song...'.html_safe, "/#{track.songs.first.slug}") %>
    </ul>
  </div>
</div>