<div id="header_container">
  <div id="header">
    <div class="btn-group content_tabs">
      <%= index_nav_button('Years', years_path, 'icon-time') %>
      <%= index_nav_button('Songs', songs_path, 'icon-book') %>
      <%= index_nav_button('Venues', venues_path, 'icon-star') %>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="btn-group content_tabs">
      <%= index_nav_button('Likes', liked_shows_path, 'icon-heart', liked_tracks_path) %>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="btn-group content_tabs">
      <%= index_nav_button('Map', map_path, 'icon-globe') %>
      <%= index_nav_button('Search', search_path, 'icon-search') %>
    </div>
    
    <%= render partial: 'shared/twitter_follow_button' %>
  </div>
</div>