<div id="header_container">
  <div id="header">
    <h1>Songs</h1>
    <h3><%= pluralize @songs.size, 'song' %></h3>
    <div class="header_filter">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <%= @sort_display %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="?sort=title">Sort Alphabetically</a></li>
          <li><a href="?sort=performances">Sort by Performances</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  
<div id="content">
  
  <% if !@display_separators %>
    <ul class="item_list">
  <% end %>
  
  <% letter = false %>
  <% for song in @songs %>
  
    <% if @display_separators %>
      <% if song.title_letter.match(/\d/) %>
        <% title = '1-9' %>
      <% else %>
        <% title = song.title_letter %>
      <% end %>
      <% if title != letter %>
        <% if letter %>
          </ul>
        <% end %>
        <% letter = title %>
        <%= content_tag 'h1', title %>
        <ul class="item_list">
      <% end %>
    <% end %>
    
    <li>
      <h2><a name="<%= song.slug %>"></a><a href="#"><%= raw(song.title) %></a></h2>
      <h3 class="alt">
        <% if song.aliased_song %>
          <a href="#<%= song.aliased_song.slug %>" class="alias_for">alias for <%= raw(song.aliased_song.title) %></a></h5>
        <% else %>
          <a href="#"><%=  song.tracks_count %></a></h5>
        <% end %>
      </h3>
      <div style="clear: both;"></div>
    </li>
  <% end %>
  
  </ul>

</div>
