<div id="header_container">
  <div id="header">
    <h1>Song: <%= @song.title %></h1>
    <h3><%= pluralize @song.tracks.size, 'track' %></h3>
    <% #render partial: 'header_filter', locals: { current_title: 'Sort Chronologically', item_hash: {'Sort Chronologically' => '?sort=show_date', 'Sort by Likes' => '?sort=likes'} } %>
  </div>
</div>
  
<div id="content">
  
    <% last_title = false %>
    <% for track in @tracks %>

      <% title = track.show.date.strftime("%Y") %>
      <% if title != last_title %>
        <% if last_title %>
          </ul>
        <% end %>
        <% last_title = title %>
        <%= content_tag 'h1', title %>
        <ul class="item_list clickable">
      <% end %>

    <li>
      <h2><a href="/<%= "#{track.show.date}/#{track.songs.first.slug}" %>"><%= track.show.date.strftime("%b %-d") %></a></h2>
      <h4><a href="/<%= track.show.venue.slug %>"><%= track.show.venue.name %></a></h4>
      <h5><a href="/cities"><%= track.show.venue.location %></a></h5>
      <%= render partial: 'context_menu_for_track' %>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>

  <% end %>
  
  </ul>

</div>
