<div id="header_container">
  <div id="header">
    <h1>I'm gonna need to see some ID</h1>
    <h3><%= link_to "Sign up", new_user_registration_path, class: 'non-remote' %></h3>
  </div>
</div>

<div id="content">
    
  <h1>Sign in</h1>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    
    <br />
    <div class="field_label">Username</div>
    <div class="field_content"><%= f.email_field :email, :autofocus => true %></div>
    <div style="clear: both;"></div>
      
    <div class="field_label">Password</div>
    <div class="field_content"><%= f.password_field :password %></div>
    <div style="clear: both;"></div>
    
    <% if devise_mapping.rememberable? -%>
      <div class="field_label"><%= f.check_box :remember_me %></div>
      <div class="field_content">Remember me</div>
      <div style="clear: both;"></div>
    <% end -%>
    
    <br />
    
    <div class="field_label"><%= f.submit "Sign in" %></div>
    <div style="clear: both;"></div>

  <% end %>

  <br />
  
  <%= render "devise/shared/links" %>
    
</div>
