<div id="header_container">
  <div id="header">
    <%= content_tag :h1, (session[:playlist_id] > 0 ? "Playlist: #{session[:playlist_name]}" : 'Current Playlist'), id: 'playlist_title' %>
    <%= content_tag :span, "<i class=\"icon-time icon-white\"></i> #{duration_readable(@duration, 'letters')}".html_safe, id: 'current_playlist_duration_label', class: 'show_duration' %>
    <%= content_tag :h3, pluralize(@num_tracks, 'track'), id: 'current_playlist_tracks_label' %>
  </div>
</div>
  
<div id="content">
  
  <div id="playlist_data" data-id="<%= session[:playlist_id] %>" data-name="<%= session[:playlist_name] %>" data-slug="<%= session[:playlist_slug] %>" data-user-id="<%= session[:playlist_user_id] %>" data-user-name="<%= session[:playlist_user_name] %>">
  
  <div class="row">
    <div class="span11 centered">
      <button type="button" class="btn btn-info" id="clear_playlist_btn"><i class="icon-remove-circle icon-white"></i> Empty Playlist</button>
      &nbsp;&nbsp;
      <% if user_signed_in? %>
        <button type="button" class="btn" id="save_playlist_btn"><i class="icon-file"></i> Save</button>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
            <i class="icon-folder-open"></i> Load
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="load_playlist_list">
          </ul>
        </div>
        <button type="button" class="btn" id="share_playlist_btn"><i class="icon-share"></i> Share</button>
        <% if current_user and current_user.id == session[:playlist_user_id] %>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-danger" id="delete_playlist_btn"><i class="icon-remove icon-white"></i> Delete</button>
        <% end %>
      <% end %>
    </div>
  </div>
    
  <div id="empty_playlist_msg" style="display: none;"><strong>Your current playlist is empty.</strong>
    <br /><br />
    When you play a track from a show, your current playlist will be updated to reflect that show.  You can also add tracks individually by using track context menus.
    <br /><br />
    When signed in, you can save and share your custom playlists.
  </div>
  
  <ul class="item_list" id="current_playlist">
  <% if @tracks %>
    <% @tracks.each_with_index do |track, idx| %>
      <li class="playable_track" data-id="<%= track.id %>" data-track-duration="<%= track.duration %>">
        <%= content_tag :h2, "#{idx+1}", class: 'position_num' %>
        <%= content_tag :h2, "#{track.title}".html_safe, class: 'wide' %>
        <%= content_tag :div, "<i class=\"icon-resize-vertical\"></i>".html_safe, class: "drag_arrows_vertical"  %>
        <%= content_tag :h5, link_to(track.show.date.strftime("%-m/%-d/%y"), "#{track.show.date}", class: 'large') %>
        <%= render partial: 'shared/context_menu_for_track', locals: { track: track, playlist: true, show: nil } %>
        <%= content_tag :h3, track.duration_readable %>
        <div style="clear: both;"></div>
      </li>
    <% end %>
  <% end %>
  </ul>
  
</div>
