<div id="header_container">
  <div id="header">
    <%= content_tag :h1, 'Current Playlist'%>
    <%= content_tag :h2, pluralize(@num_tracks, 'track'), id: 'current_playlist_tracks_label', class: 'floating' %>
    <%= content_tag :span, "<i class=\"icon-time icon-white\"></i> #{duration_readable(@duration, 'letters')}".html_safe, id: 'current_playlist_duration_label', class: 'show_duration' %>
  </div>
</div>
  
<div id="content">
  
  <div class="row">
    <div class="span3">
    </div>
    <div class="span2 span2-alt">
      <button type="button" class="btn" id="clear_playlist_btn"><i class="icon-remove-circle"></i> Clear</button>
    </div>
    <div class="span2 span2-alt">
      <button type="button" class="btn" id="save_playlist_btn"><i class="icon-file"></i> Save</button>
    </div>
    <div class="span2 span2-alt">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-folder-open"></i> Load
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% if @saved_playlists and @saved_playlists.size > 0 %>
            <% for playlist in @saved_playlists %>
              <%= content_tag :li, link_to(playlist.name, "#") %>
            <% end %>
          <% else %>
            <%= content_tag :li, link_to("(No saved playlists)", "#") %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span2 span2-alt">
      <button type="button" class="btn" id="share_playlist_btn"><i class="icon-share"></i> Share</button>
    </div>
  </div>
  
    <p>&nbsp;</p>
    
    <p id="empty_playlist_msg" style="visibility: hidden;">Your current playlist is empty.<br /><br />Tracks are automatically added when you play them.  You can also add tracks explicitly by using track context menus.</p>
  
  <% unless @num_tracks > 0 %>
    <p>Your current playlist is empty.<br /><br />Tracks are automatically added when you play them.  You can also add tracks explicitly by using track context menus.</p>
  <% else %>
  
  <ul class="item_list" id="current_playlist">
  <% @tracks.each_with_index do |track, idx| %>
    <li class="playable_track" data-id="<%= track.id %>" data-track-duration="<%= track.duration %>">
      <%= content_tag :h2, "#{idx+1}", class: 'position_num' %>
      <%= content_tag :h2, "#{track.title}".html_safe, class: 'wide' %>
      <%= content_tag :div, "<i class=\"icon-resize-vertical\"></i>".html_safe, class: "drag_arrows_vertical"  %>
      <%= content_tag :h5, link_to(track.show.date.strftime("%-m/%-d/%y"), "#{track.show.date}", class: 'large') %>
      <%= render partial: 'shared/context_menu_for_track', locals: { track: track, playlist: true, show: nil } %>
      <%= content_tag :h3, track.duration_readable %>
      <div style="clear: both;"></div>
    </li>
    <% end %>
  </ul>
  <% end %>
  
</div>
