<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h1, 'Saved Playlists' %>
    <% if user_signed_in? %>
      <%= content_tag :h3, "Lists: #{number_with_delimiter(@playlists.size)}" %>
      <%= render partial: 'display_filter' %>
      <%= render partial: 'shared/sort_filter', locals: { item_hash: {'<i class="icon-text-height"></i> Name' => 'name', '<i class="icon-time"></i> Duration' => 'duration', '<i class="icon-user"></i> Curator' => 'username'} } %>
    <% end %>
  </div>
  
  <div id="content_box">
    
    <% if !user_signed_in? %>
      <div class="callout_box">You must sign in to manage saved playlists</div>
    <% else %>
      <ul class="item_list clickable">
        <% for playlist in @playlists %>
          <li>
            <%= content_tag :h2, link_to(playlist.name, "/play/#{playlist.slug}"), class: 'wider' %>
            <%= content_tag :h3, duration_readable(playlist.duration, 'letters') %>
            <%= content_tag :h4, "by #{playlist.user.username}", class: 'narrow' %>
            <%= render partial: 'shared/context_menu_for_playlist', locals: { playlist: playlist } %>
            <div style="clear: both;"></div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <div style="clear: both;"></div>
  
</div>