<div id="header_container">
  <div id="header">
    <%= content_tag :h1, "Missing Shows" %>
    <%= content_tag :h3, "#{@missing_shows.total_entries} total" %>
  </div>
</div>

<div id="content">
  
  <div class="centered"><%= will_paginate @missing_shows %></div>
  
  <ul class="item_list">
  <% for show in @missing_shows %>
    <li>
      <%= content_tag :h2, link_to(show.date, "http://phish.net/setlists/?d=#{show.date}", class: 'non-remote', target: '_blank'), class: 'wider' %>
      <%= content_tag :h3, show.admin_notes, class: 'admin_notes' %>
    </li>
  <% end %>
  </ul>

</div>