<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h1, 'My Tracks' %>
    <%= content_tag :div, nil, class: 'hr' %>
    <h3>A list of all tracks you've Liked</h3>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= render partial: 'shared/sort_filter', locals: { item_hash: {'<i class="icon-time"></i> Reverse Date' => 'date desc', '<i class="icon-time"></i> Date' => 'date asc', '<i class="icon-heart"></i> Likes' => 'likes', '<i class="icon-forward"></i> Duration' => 'duration'} } %>
  </div>
  
  <div id="content_box">
    <% if !user_signed_in? %>
      <p class="instructions">Sign in and click heart icons to Like your favorite tracks</div>
    <% elsif @tracks and @tracks.size > 0 %>
      <ul class="item_list">
        <% @tracks.each_with_index do |track, idx| %>
        <li class="playable_track" data-id="<%= track.id %>">
          <%= content_tag :h2, link_to(truncate(track.title, length: 44), "/#{track.show.date}/#{track.slug}"), class: 'wide' %>
          <%= content_tag :h5, link_to(track.show.date.strftime("%Y.%m.%d"), "/#{track.show.date}"), class: 'narrow' %>
          <%# content_tag :h5, link_to(track.show.venue.location, "/map?map_term=#{CGI::escape(track.show.venue.location)}"), class: 'narrow' %>
          <%= likable(track, @tracks_likes[idx], 'small') %>
          <%= content_tag :h3, duration_readable(track.duration) %>
          <%= render partial: 'shared/context_menu_for_track', locals: { track: track, playlist: false, show: nil } %>
          <div style="clear: both;"></div>
        <% end %>
      </ul>
      <% if @tracks.total_pages > 1 %>
        <div class="paging">
          <%= will_paginate_simple @tracks %>
        </div>
      <% end %>
    <% else %>
      <p class="instructions">Click heart icons to Like your favorite tracks</div>
    <% end %>
  </div>
  
  <div style="clear: both;"></div>

</div>