<div id="header_container">
  <div id="header">
    <div class="btn-group content_tabs">
      <%= index_nav_button('Years', '/years') %>
      <%= index_nav_button('Songs', '/songs') %>
      <%= index_nav_button('Cities', '/cities') %>
      <%= index_nav_button('Venues', '/venues') %>
      <%= index_nav_button('Most Liked', '/liked') %>
    </div>
  </div>
</div>