<div id="header_container">
  <div id="header">
    <div class="btn-group content_tabs">
      <%= index_nav_button('Years', years_path) %>
      <%= index_nav_button('Songs', songs_path) %>
      <%= index_nav_button('Cities', cities_path) %>
      <%= index_nav_button('Venues', venues_path) %>
      <%= index_nav_button('Most Liked', liked_path) %>
    </div>
  </div>
</div>