<%= render 'index_header' %>
  
<div id="content">
  
  <%= content_tag :h2, 'Top Shows', class: 'for_content' %>
  <%= render partial: 'option_filter', locals: { title: 'Show all Likes', item_hash: {'Show all Likes' => '?show=all', 'Show my Likes' => '?show=mine'} } %>
  <div style="clear: both;"></div>

  <ul class="item_list">
    <% @shows.each_with_index do |show, idx| %>
      <li>
        <%= content_tag :h2, link_to(show.date.strftime("%-m/%-d/%y"), "/#{show.date}") %>
        <%= content_tag :h4, link_to(show.venue.name.html_safe, "/#{show.venue.slug}") %>
        <%= content_tag :h5, link_to(show.venue.location, "/cities") %>
        <%= render partial: 'shared/context_menu_for_show', locals: { show: show, viewing_this_show: false } %>
        <%= likable(show, @shows_likes[idx], 'small') %>
        <div style="clear: both;"></div>
      </li>
    <% end %>
  </ul>
  <h4><a href="null">load 10 more... (coming soon)</a></h4>
  <br />

  <%= content_tag :h2, 'Top Tracks', class: 'for_content' %>
  <div style="clear: both;"></div>
  
  <ul class="item_list">
    <% @tracks.each_with_index do |track, idx| %>
      <li>
        <%= content_tag :h2, track.title, class: 'wide' %>
        <%= content_tag :h5, link_to(track.show.date.strftime("%-m/%-d/%y"), "#{track.show.date}") %>
        <%= render partial: 'shared/context_menu_for_track', locals: { track: track } %>
        <%= content_tag :h3, track.duration_readable %>
        <%= likable(track, @tracks_likes[idx], 'small') %>
        <div style="clear: both;"></div>
      </li>
    <% end %>
  </ul>
  <h4><a href="null">load 10 more... (coming soon)</a></h4>
      
</div>