<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <div id="map_search_container">
      <h1>Find shows near:</h1>
      <input type="text" id="map_search_term" placeholder="place or zipcode" value="<%= params[:map_term] %>"><br />
      &nbsp;&nbsp;within &nbsp;
      <input type="text" id="map_search_distance" value="<%= params[:distance] || 50 %>">&nbsp;&nbsp;miles &nbsp;
      <br />    
      <span class="optional">
        within timeframe<br />
        <input type="text" class="small_input" name="date_start" id="map_date_start" placeholder="earliest" value="<%= params[:date_start] %>">
        &nbsp;&nbsp;to &nbsp;
        <input type="text" class="small_input" name="date_start" id="map_date_stop" placeholder="latest" value="<%= params[:date_stop] %>">
      </span>
      <br /><br />
      <button type="button" class="btn" id="map_search_submit">SEARCH</button>
    </div>
  </div>
  
  <div id="content_box">
    <div id="google_map"></div>
  </div>
  
  <div style="clear: both;"></div>

</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $('#map_date_start').datepicker({
    dateFormat: "yy-mm-dd",
    changeYear: true,
    changeMonth: true,
    yearRange: '1983:2015',
    showOtherMonths: true,
    selectOtherMonths: true
  });
  $('#map_date_stop').datepicker({
    dateFormat: "yy-mm-dd",
    changeYear: true,
    changeMonth: true,
    yearRange: '1983:2015',
    showOtherMonths: true,
    selectOtherMonths: true,
    
  });
})
</script>