<div id="content" class="noheader">
  
  <div id="title_box">
    <%= content_tag :h1, linked_show_date(@show) %>
    <% unless @show.missing? %>
      <%= content_tag :h2, (link_to @show.venue.name.html_safe, "/#{@show.venue.slug}") %>
      <%= content_tag :h3, "Location: #{(link_to @show.venue.location, "/map?term=#{CGI::escape(@show.venue.location)}")}".html_safe, class: 'small' %>
      <%= content_tag :h3, "Length: #{duration_readable(@show.duration, 'letters')}" %>
      <%= likable(@show, @show_like, 'large') %>
      <div style="clear: both;"></div>
      <%= render partial: 'shared/context_menu_for_show', locals: {show: @show, viewing_this_show: true, next_show: @next_show, previous_show: @previous_show } %>
    <% end %>
  </div>
  
  <div id="content_box">
  
    <% if @show.missing? %>
      <div class="incomplete_show">Sorry, this show is missing</div>
    <% else %>
  
      <% if @show.incomplete? %>
        <div class="incomplete_show">This show is incomplete</div>
      <% end %>
  
      <% set = false %>
      <% @tracks.each_with_index do |track, idx| %>
    
        <% if track.set != set %>
          <% if set %>
            </ul>
          <% end %>
          <%= content_tag 'h1', track.set_name %>
          <ul class="item_list">
          <% set = track.set %>
        <% end %>
    
        <li class="playable_track" data-id="<%= track.id %>" data-anchor="<%= track.slug %>">
          <%= content_tag :h2, track_title_with_tags(track), class: 'wider' %>
          <%= content_tag :h3, track.duration_readable %>
          <%= likable(track, @tracks_likes[idx], 'small') %>
          <%= render partial: 'shared/context_menu_for_track', locals: { track: track, show: @show, playlist: false } %>
          <div style="clear: both;"></div>
        </li>
      <% end %>
      </ul>
  
    <% end %>
  </div>
  
  <div style="clear: both;"></div>
  
</div>