<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h1, linked_show_date(@show) %>
    <% unless @show.missing? %>
      <%= content_tag :h2, (link_to @show.venue.name.html_safe, "/#{@show.venue.slug}") %>
      <%= content_tag :h2, (link_to @show.venue.location, "/map?map_term=#{CGI::escape(@show.venue.location)}&amp;distance=5") %>
      <%= content_tag :div, nil, class: 'hr' %>
      <%= content_tag :h2, "Length: #{duration_readable(@show.duration, 'letters')}" %>
      <%= content_tag :div, nil, class: 'hr' %>
      <%= likable(@show, @show_like, 'large') %>
      <div style="clear: both;"></div>
      <%= render partial: 'shared/context_menu_for_show', locals: {show: @show, viewing_this_show: true, next_show: @next_show, previous_show: @previous_show } %>
      <h3>
        <% @show.tags.each do |tag| %>
          <%= content_tag :span, tag.name, class: 'label', style: "background-color: #{tag.color}" %>
        <% end %>
      </h3>
      <%= content_tag :div, nil, class: 'hr' %>
      <%= link_to('<i class="icon-chevron-left"></i>&nbsp;&nbsp;Previous Show'.html_safe, "/#{@previous_show.date}") %>
      <div style="clear: both;"></div>
      <%= link_to('<i class="icon-chevron-right"></i>&nbsp;&nbsp;Next Show'.html_safe, "/#{@next_show.date}") %>
    <% end %>
  </div>
  
  <div id="content_box">
  
    <% track_num = 1 %>
    <% if @show.missing? %>
      <div class="incomplete_show">Sorry, this show is missing</div>
    <% else %>
  
      <% if @show.incomplete? %>
        <div class="incomplete_show">This show is incomplete</div>
      <% end %>
  
      <% set = false %>
      <% @tracks.each_with_index do |track, idx| %>
    
        <% if track.set != set %>
          <% if set %>
            </ul>
          <% end %>
          <%= content_tag 'h1', track.set_name %>
          <ul class="item_list">
          <% set = track.set %>
          <% track_num = 1 %>
        <% else %>
          <% track_num += 1 %>
        <% end %>
    
        <li class="playable_track" data-id="<%= track.id %>" data-anchor="<%= track.slug %>">
          <%= content_tag :h2, track_num, class: 'position_num' %>
          <%= content_tag :h2, track_title_with_tags(track), class: 'wide' %>
          <%= likable(track, @tracks_likes[idx], 'small') %>
          <%= content_tag :h3, duration_readable(track.duration) %>
          <%= render partial: 'shared/context_menu_for_track', locals: { track: track, show: @show, playlist: false } %>
          <div style="clear: both;"></div>
        </li>
      <% end %>
      </ul>
  
    <% end %>
  </div>
  
  <div style="clear: both;"></div>
  
</div>