<%= render partial: 'layouts/global_nav_sub' %>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h1, pluralize(@songs.reject { |song| song.is_alias? }.size, "'#{params[:char]}' Song") %>
    <%= render partial: 'sort_songs_and_venues_filter', locals: { item_hash: {'<i class="icon-text-height"></i> Alphabetically' => 'title', '<i class="icon-list"></i> Number of Tracks' => 'performances'} } %>
  </div>
  
  <div id="content_box">
    <ul class="item_list clickable">
    <% for song in @songs %>
      <li name="<%= song.slug %>">
        <%= content_tag :h2, link_to_song(song), class: 'wider' %>
        <%= content_tag :h3, performances_or_alias_link(song), class: 'wide' %>
        <div style="clear: both;"></div>
      </li>
    <% end %>
    </ul>
  </div>
  
  <div style="clear: both;"></div>

</div>
<div style="clear: both;"></div>
