<%= render partial: 'layouts/global_nav' %>

<div id="content">

  <div id="title_box">
    <%= content_tag :h1, "'#{params[:char]}' Songs" %>
    <%= content_tag :h2, "Total Songs: #{@songs.reject {|song| song.alias? }.size}" %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= render partial: 'sort_songs_and_venues_filter', locals: { item_hash: {'<i class="icon-text-height"></i> Title' => 'title', '<i class="icon-list"></i> Number of Tracks' => 'performances'} } %>
  </div>

  <div id="content_box">
    <ul class="item_list clickable">
    <% for song in @songs %>
      <li name="<%= song.slug %>">
        <%= content_tag :h2, link_to_song(song), class: 'wider' %>
        <%= content_tag :h3, performances_or_alias_link(song), class: 'wide' %>
        <div style="clear: both;"></div>
      </li>
    <% end %>
    </ul>
  </div>

  <div style="clear: both;"></div>

</div>
<div style="clear: both;"></div>
