<%= render 'shared/index_header' %>
  
<div id="content">
  
  <div class="row">
    <div class="span3">
      <%= content_tag :h2, pluralize(@songs.total_entries, 'Song'), class: 'for_content' %>
    </div>
    <div class="span6">
      <%= will_paginate_simple @songs %>
    </div>
    <div class="span2">
      <%= render partial: 'sort_filter', locals: { item_hash: {'<i class="icon-text-height"></i> Alphabetically' => 'title', '<i class="icon-list"></i> Number of Tracks' => 'performances'} } %>
    </div>
  </div>
  
  <ul class="item_list clickable">
  <% for song in @songs %>
    <li name="<%= song.slug %>">
      <%= content_tag :h2, link_to_song(song), class: 'wide' %>
      <%= content_tag :h3, performances_or_alias_link(song), class: 'alt' %>
      <div style="clear: both;"></div>
    </li>
  <% end %>
  
  </ul>

</div>
