<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h1, @song.title %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= content_tag :h2, "Total Tracks: #{@song.tracks.size}" %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= render partial: 'sort_filter', locals: { item_hash: {'<i class="icon-time"></i> Reverse Chronological' => 'date desc', '<i class="icon-time"></i> Chronological' => 'date asc', '<i class="icon-heart"></i> Likes' => 'likes', '<i class="icon-forward"></i> Duration' => 'duration'} } %>
    <%= content_tag :div, nil, class: 'hr' %>
    prev/next
  </div>
  
  <div id="content_box">
  
    <% unless @display_separators %>
      <ul class="item_list clickable">
    <% end %>
  
    <% last_title = false %>
    <% @tracks.each_with_index do |track, idx| %>
    
      <% if track.show %>

        <% if @display_separators %>
          <% title = track.show.date.strftime("%Y") %>
          <% if title != last_title %>
            <% if last_title %>
              </ul>
            <% end %>
            <% last_title = title %>
            <%= content_tag 'h1', title %>
            <ul class="item_list clickable">
          <% end %>
        <% end %>

        <li>
          <%= content_tag :h2, link_to(show_link_title(track.show, @display_separators), "/#{track.show.date}/#{track.slug}") %>
          <%= content_tag :h4, link_to(truncate(track.show.venue.name.html_safe, length: 32), "/#{track.show.venue.slug}"), class: 'narrow' %>
          <%= content_tag :h5, link_to(track.show.venue.location, "/map?map_term=#{CGI::escape(track.show.venue.location)}") %>
          <% #content_tag :h3, track.duration_readable %>
          <%= likable(track, @tracks_likes[idx], 'small') %>
          <%= render partial: 'shared/context_menu_for_track', locals: { track: track, playlist: false, show: nil } %>
          <span class="show_tag_container">
            <% track.show.tags.each do |tag| %>
              <%= content_tag :span, tag.name, class: 'label show_tag', style: "background-color: #{tag.color}" %>
            <% end %>
          </span>
          <div style="clear: both;"></div>
        </li>
      <% end %>
    <% end %>
    </ul>
    
    <% if @tracks.total_pages > 1 %>
      <div class="paging">
        <%= will_paginate_simple @tracks %>
        <span class="page_title">Page:</span>
      </div>
    <% end %>
    
  </div>
  
  <div style="clear: both;"></div>

</div>
