<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h1, @song.title %>
    <%= content_tag :h2, "Total Tracks: #{@song.tracks.size}" %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= render partial: 'shared/sort_filter', locals: { item_hash: {'<i class="icon-time"></i> Reverse Date' => 'date desc', '<i class="icon-time"></i> Date' => 'date asc', '<i class="icon-heart"></i> Likes' => 'likes', '<i class="icon-forward"></i> Duration' => 'duration'} } %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= link_to('<< Previous Song'.html_safe, "/#{@previous_song.slug}") %>
    <div style="clear: both;"></div>
    <%= link_to('Next Song >>'.html_safe, "/#{@next_song.slug}", class: 'next_item_link') %>
    <%= content_tag :div, nil, class: 'hr' %>
    <button type="button" class="btn" id="random_song_track_btn" data-song-id="<%= @song.id %>"><i class="icon icon-play"></i> Play Random Version</button><br />
  </div>
  
  <div id="content_box">
  
    <% unless @display_separators %>
      <ul class="item_list clickable">
    <% end %>
  
    <% last_title = false %>
    <% @tracks.each_with_index do |track, idx| %>
    
      <% if track.show %>

        <% if @display_separators %>
          <% title = track.show.date.strftime("%Y") %>
          <% if title != last_title %>
            <% if last_title %>
              </ul>
            <% end %>
            <% last_title = title %>
            <%= content_tag 'h1', title %>
            <ul class="item_list clickable">
          <% end %>
        <% end %>

        <li>
          <%= content_tag :h2, link_to(show_link_title(track.show, @display_separators), "/#{track.show.date}/#{track.slug}") %>
          <%= content_tag :h2, link_to(truncate(track.show.venue.name.html_safe, length: 30), "/#{track.show.venue.slug}"), class: 'wide-180' %>
          <%= content_tag :h5, link_to(truncate(track.show.venue.location, length: 20), "/map?map_term=#{CGI::escape(track.show.venue.location)}"), class: 'narrow' %>
          <%= likable(track, @tracks_likes[idx], 'small') %>
          <%= content_tag :h3, duration_readable(track.duration) %>
          <%= render partial: 'shared/context_menu_for_track', locals: { track: track, playlist: false, show: nil } %>
          <%= display_tags(track.tags, true, 'tag_container_small') %>
          <div style="clear: both;"></div>
        </li>
      <% end %>
    <% end %>
    </ul>
    
    <% if @tracks.total_pages > 1 %>
      <div class="paging">
        <%= will_paginate_simple @tracks %>
      </div>
    <% end %>
    
  </div>
  
  <div style="clear: both;"></div>

</div>
