<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h1, 'Top 40 Tracks' %>
    <%# content_tag :h3, 'What: Based on Likes' %>
    <% if !user_signed_in? %>
      <p class="instructions">Contribute by signing up and Liking your favorite tracks</p>
    <% end %>
  </div>
  
  <div id="content_box">  
    <ul class="item_list">
      <% @tracks.each_with_index do |track, idx| %>
      <li class="playable_track" data-id="<%= track.id %>">
        <%= content_tag :h2, "#{idx+1}", class: 'position_num' %>
        <%= content_tag :h2, link_to(truncate(track.title, length: 44), "/#{track.show.date}/#{track.slug}"), class: 'wider' %>
        <%= content_tag :h5, link_to(track.show.date.strftime("%Y.%-m.%-d"), "/#{track.show.date}"), class: 'narrow' %>
        <%= content_tag :h3, track.duration_readable %>
        <%= likable(track, @tracks_likes[idx], 'small') %>
        <%= render partial: 'shared/context_menu_for_track', locals: { track: track, playlist: false, show: nil } %>
        <div style="clear: both;"></div>
      <% end %>
    </ul>
  </div>
  
  <div style="clear: both;"></div>

</div>