<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h1, 'Top 40 Shows' %>
    <%= content_tag :div, nil, class: 'hr' %>
    <h3>An aggregated list of the most-Liked shows from all users of Phish.in’</h3>
    <% if !user_signed_in? %>
      <%= content_tag :div, nil, class: 'hr' %>
      <p class="instructions">Contribute by signing up and Liking your favorite shows</p>
    <% end %>
  </div>
  
  <div id="content_box">  
    <ul class="item_list clickable">
      <% @shows.each_with_index do |show, idx| %>
        <li>
          <%= content_tag :h2, "#{idx+1}", class: 'position_num' %>
          <%= content_tag :h2, link_to("#{show.date.strftime("%Y.%m.%d")}", "/#{show.date}") %>
          <%= content_tag :h4, link_to(truncate(show.venue.name, length: 30).html_safe, "/#{show.venue.slug}"), class: 'narrow' %>
          <%# content_tag :h5, link_to(show.venue.location, "/map?map_term=#{CGI::escape(show.venue.location)}"), class: 'narrow' %>
          <%= likable(show, @shows_likes[idx], 'small') %>
          <%= content_tag :h3, "#{duration_readable(show.duration, 'letters')}", class: 'narrow' %>
          <%= render partial: 'shared/context_menu_for_show', locals: { show: show, viewing_this_show: false } %>
          <span class="show_tag_container">
            <% show.tags.each do |tag| %>
              <%= content_tag :span, tag.name, class: 'label show_tag', style: "background-color: #{tag.color}" %>
            <% end %>
          </span>
          <div style="clear: both;"></div>
        </li>
      <% end %>
    </ul>
  </div>
      
  <div style="clear: both;"></div>
      
</div>