<%= render 'shared/index_header' %>

<div id="content">

  <div style="text-align: center;">
    <div class="btn-group like_tabs">
      <%= link_to content_tag(:button, 'Top Shows', class: 'btn btn-large'), liked_shows_path %>
      <%= link_to content_tag(:button, 'Top Tracks', class: 'btn btn-large btn-primary active'), liked_tracks_path %>
    </div>
    <div class="paging"><%= will_paginate @tracks %></div>
  </div>

  <ul class="item_list">
    <% @tracks.each_with_index do |track, idx| %>
    <li class="playable_track" data-id="<%= track.id %>" data-anchor="<%= track.song_slug %>">
      <%= content_tag :h2, link_to(track.title, "/#{track.show.date}/#{track.song_slug}"), class: 'medium_width' %>
      <%= content_tag :h5, link_to(track.show.date.strftime("%-m/%-d/%y"), "/#{track.show.date}"), class: 'large' %>
      <%= render partial: 'shared/context_menu_for_track', locals: { track: track, playlist: false, show: nil } %>
      <%= likable(track, @tracks_likes[idx], 'small') %>
      <%= content_tag :h3, track.duration_readable %>
      <div style="clear: both;"></div>
    <% end %>
  </ul>

</div>