<div id="sub_nav_container">
  <div id="sub_nav">
    <%= link_to 'Shows', top_shows_path, class: 'active' %>
    <%= link_to 'Tracks', top_tracks_path %>
  </div>
</div>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h1, 'Top 40 Shows' %>
  </div>
  
  <div id="content_box">  
    <ul class="item_list clickable">
      <% @shows.each_with_index do |show, idx| %>
        <li>
          <%= content_tag :h2, "#{idx+1}", class: 'position_num' %>
          <%= content_tag :h2, link_to("#{show.date.strftime("%-m/%-d/%y")}", "/#{show.date}"), class: 'extra_width' %>
          <%= content_tag :h4, link_to(show.venue.name.html_safe, "/#{show.venue.slug}") %>
          <% #content_tag :h5, link_to(show.venue.location, "/map?term=#{CGI::escape(show.venue.location)}") %>
          <span class="show_tag_container">
            <% show.tags.each do |tag| %>
              <%= content_tag :span, tag.name, class: 'label show_tag', style: "background-color: #{tag.color}" %>
            <% end %>
          </span>
          <%= likable(show, @shows_likes[idx], 'small') %>
          <%= render partial: 'shared/context_menu_for_show', locals: { show: show, viewing_this_show: false } %>
          <% #content_tag :span, "#{show.duration_readable}", class: 'show_duration_small' %>
          <div style="clear: both;"></div>
        </li>
      <% end %>
    </ul>
  </div>
      
  <div style="clear: both;"></div>
      
</div>