<div id="sub_nav_container">
  <div id="sub_nav">
    <%= first_char_links(venues_path) %>
  </div>
</div>

<div id="content">
  
  <div id="title_box">
    <%= content_tag :h2, pluralize(@venues.size, "'#{params[:char]}' Venue") %>
    <%= render partial: 'sort_songs_and_venues_filter', locals: { item_hash: {'<i class="icon-text-height"></i> Alphabetically' => 'name', '<i class="icon-list"></i> Number of Shows' => 'performances'} } %>
  </div>

  <div id="content_box">
    <ul class="item_list clickable">
    <% for venue in @venues %>
      <li>
        <%= content_tag :h2, link_to(truncate(venue.name, length: 45), "/#{venue.slug}"), class: 'wide' %>
        <%= content_tag :h5, link_to(venue.location, "/map?term=#{CGI::escape(venue.location)}") %>
        <%= content_tag :h3, pluralize(venue.shows_count, 'show'), class: 'alt' %>
        <div style="clear: both;"></div>
      </li>   
    <% end %>
    </ul>
  </div>
  
  <div style="clear: both;"></div>

</div>
