<%= render 'shared/index_header' %>

<div id="content">
  
  <div id="home_msg">
    This is a beta site under active development.  Please report bugs and content issues: <a href="/contact-us">Contact</a><br />
  </div>
      
  <h1>3.0 Era</h1>
  <div id="era3">
    <ul class="year_list">
      <% 2012.downto(2009) do |year|  %>
      <li>
        <%= content_tag :h2, pluralize(Show.during_year(year).size, 'show') %>
        <%= content_tag :h1, link_to(year, "/#{year}") %>
      </li>
      <% end %>
    </ul>
    <div style="clear: both;"></div>
  </div>
      
  <h1>2.0 Era</h2>
  <div id="era2">
    <ul class="year_list">
      <% 2004.downto(2002) do |year|  %>
      <li>
        <%= content_tag :h2, pluralize(Show.during_year(year).size, 'show') %>
        <%= content_tag :h1, link_to(year, "/#{year}") %>
      </li>
      <% end %>
    </ul>
    <div style="clear: both;"></div>
  </div>
      
  <h1>1.0 Era</h1>
  <div id="era1">
    <ul class="year_list">
      <% 2000.downto(1988) do |year|  %>
        <li>
          <%= content_tag :h2, pluralize(Show.during_year(year).size, 'show') %>
          <%= content_tag :h1, link_to(year, "/#{year}") %>
        </li>
      <% end %>
      <li>
        <%= content_tag :h2, pluralize(Show.between_years('1983', '1987').size, 'show') %>
        <%= content_tag :h1, link_to('1987 - 83', '/1983-1987') %>
      </li>
    </ul>
    <div style="clear: both;"></div>
  </div>
      
  <div style="clear: both;"></div>
      
</div>