<%= render partial: 'layouts/global_nav' %>

<div id="content">

  <div id="title_box">
    <%= content_tag :h1, "WELCOME TO PHISH.IN'", class: 'large' %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= content_tag :h2, "An archive of live Phish audio" %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= content_tag :h3, "Shows: #{number_with_delimiter(Show.avail.count)}" %>
    <%= content_tag :h3, "Songs: #{number_with_delimiter(Song.relevant.count)}" %>
    <%= content_tag :h3, "Tracks: #{number_with_delimiter(Track.count)}" %>
    <%= content_tag :h3, "Hours of Music: 3,260" %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= content_tag :h3, "This site is in BETA; expect bugs.  It will improve gradually.", class: 'beta' %>
  </div>

  <div id="content_box">

    <% Hash[ERAS.to_a.reverse].each do |era, years| %>
      <h1><%= era %> Era</h1>
      <ul class="item_list clickable">
        <% years.reverse.each do |year| %>
          <li>
            <% shows = (year == '1983-1987' ? Show.avail.between_years('1983', '1987').includes(:venue) : Show.avail.during_year(year).includes(:venue)) %>
            <%= content_tag :h2, link_to(year, "/#{year}"), class: 'wider' %>
            <%= content_tag :h4, pluralize(shows.map(&:venue).uniq.size, 'venue'), class: 'narrow' %>
            <%= content_tag :h3, pluralize(shows.size, 'show'), class: 'alt' %>
            <div style="clear: both;"></div>
          </li>
        <% end %>
      </ul>
    <% end %>

  </div>

  <div style="clear: both;"></div>

</div>