<div id="header_container">
  <div id="header">
    <h1>Year: <%= @year %></h1>
    <h3><%= pluralize(@shows.size, 'show') %></h3>
    <% #render partial: 'header_filter', locals: { current_title: 'Sort Chronologically', item_hash: {'Sort Chronologically' => '?sort=show_date', 'Sort by Likes' => '?sort=likes', 'Sort by City' => '?sort=city', 'Sort by State' => '?sort=state', 'Sort by Venue' => '?sort=venue'} } %>
  </div>
</div>
  
<div id="content">
  
  <% if @shows.empty? %>
    <h1>No shows this year...</h1>
  <% end %>
  
  <% tour = false %>
  <% @shows.each do |show| %>
    <% if show.tour != tour %>
      <% if tour %>
        </ul>
      <% end %>
      <%= content_tag 'h1', show.tour.name %>
      <ul class="item_list clickable">
      <% tour = show.tour %>
    <% end %>
      <li>
        <h2><a href="/<%= show.date %>"><%= show.date.strftime("%b %-d") %></a></h2>
        <h4><a href="/<%= show.venue.slug %>"><%= show.venue.name %></a></h4>
        <h5><a href="/cities"><%= show.venue.location %></a></h5>
        <%= render partial: 'shared/context_menu_for_show', locals: { show: show, viewing_this_show: false } %>
        <div class="likes_for_track"><a></a><span>2352</span></div>
        <div style="clear: both;"></div>
      </li>
    <% end %>
  </ul>

</div>
