<%= render partial: 'layouts/global_nav' %>

<div id="content">

  <div id="title_box">
    <%= content_tag :h1, @title %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= content_tag :h2, "Shows: #{@shows.size}" %>
    <%= content_tag :div, nil, class: 'hr' %>
    <%= render partial: 'shared/sort_filter', locals: { item_hash: {'<i class="icon-time"></i> Reverse Date' => 'date desc', '<i class="icon-time"></i> Date' => 'date asc', '<i class="icon-heart"></i> Likes' => 'likes',  '<i class="icon-play-circle"></i> Duration' => 'duration'} } %>
  </div>

  <div id="content_box">
    <% if @shows.empty? %>
      <h2>Got a blank space where shows should be...</h2>
      <h3>(no shows found)</h3>
    <% else %>

      <% unless @display_separators %>
        <ul class="item_list clickable">
      <% end %>

      <% tour = false %>
      <% @shows.each_with_index do |show, idx| %>

        <% if @display_separators %>
          <% if show.tour != tour %>
            <% if tour %>
              </ul>
            <% end %>
            <%= content_tag 'h1', show.tour.name %>
            <ul class="item_list clickable">
            <% tour = show.tour %>
          <% end %>
        <% end %>

        <li>
          <%= content_tag :h2, link_to_show(show, @display_separators) %>
          <% if show.venue.nil? %>
            <%= content_tag :h4, 'ERROR!' %>
          <% else %>
            <%= content_tag :h4, link_to(truncate(show.venue.name, length: 45), "/#{show.venue.slug}"), class: 'small-font' %>
          <% end %>
          <%= content_tag :h5, link_to(truncate(show.venue.location, length: 16), "/map?map_term=#{CGI::escape(show.venue.location)}"), class: 'narrower small-font' %>
          <%= display_tags(show.tags, true, 'tag_container_small') %>
          <% #content_tag :span, "#{show.duration_readable}", class: 'show_duration_small' %>
          <%= likable(show, @shows_likes[idx], 'small') %>
          <%= content_tag :h3, duration_readable(show.duration, 'letters') %>
          <%= render partial: 'shared/context_menu_for_show', locals: { show: show, viewing_this_show: false } %>

          <div style="clear: both;"></div>
        </li>

      <% end %>
      </ul>
    <% end %>
  </div>

  <div style="clear: both;"></div>

</div>
