<div id="global_nav_container">
  <div id="global_nav">
    <%= global_nav_links %>
    <div id="search_box">
      <i class="icon icon-search"></i>
      <input type="text" name="term" id="search_term" value="<%= params[:term] %>">
    </div>
    <%= render partial: 'layouts/user_controls' %>
  </div>
  <div id="sub_nav">
    <% if params[:controller] == 'content' %>
      <% if @controller_action == 'year' or @controller_action == 'year_range' %>
        <%= years_sub_links %>
      <% elsif params[:action] == 'venues' or @controller_action == 'venue' %>
        <%= first_char_sub_links(venues_path, @venue) %>
      <% elsif params[:action] == 'songs' or @controller_action  == 'song' %>
        <%= first_char_sub_links(songs_path, @song) %>
      <% elsif %w(top_liked_shows top_liked_tracks my_liked_shows my_liked_tracks).include?(params[:action]) %>
        <%= top_liked_sub_links %>
      <% end %>
    <% elsif %w(active_playlist saved_playlists).include?(params[:action]) %>
      <%= playlists_sub_links %>
    <% end %>
  </div>
  <div id="content_buffer"></div>
</div>
