<div id="global_nav">
  <%= nav_button('Years', years_path, root_path) %>
  <%= nav_button('Venues', venues_path) %>
  <%= nav_button('Songs', songs_path) %>
  <%= nav_button('Map', '/map?term=america&distance=1600') %>
  <%= nav_button('Top 40', top_shows_path, top_tracks_path) %>
  <%= nav_button('Playlists', active_playlist_path, playlists_path) %>
  <div id="search_box">
    <i class="icon icon-search"></i>
    <input type="text" name="term" id="search_term" value="<%= params[:term] %>">
  </div>
</div>