<div id="sub_nav_container">
  <div id="sub_nav">
    <% if params[:controller] == 'content' %>
      <% if params[:action] == 'yeras' or params[:action] == 'year' %>
        years...
      <% elsif params[:action] == 'venues' or params[:action] == 'venue' %>
        <%= first_char_links(venues_path, @venue) %>
      <% elsif params[:action] == 'songs' or params[:action] == 'song' %>
        <%= first_char_links(songs_path, @song) %>
      <% elsif params[:action] == 'top_liked_shows' %>
        <%= link_to 'Shows', top_shows_path, class: 'active' %>
        <%= link_to 'Tracks', top_tracks_path %>
      <% elsif params[:action] == 'top_liked_tracks' %>
        <%= link_to 'Shows', top_shows_path %>
        <%= link_to 'Tracks', top_tracks_path, class: 'active' %>
      <% end %>
    <% end %>
  </div>
</div>
