<div id="global_nav">
  <%= nav_button('Years', years_path) %>
  <%= nav_button('Songs', songs_path) %>
  <%= nav_button('Venues', venues_path) %>
  <%= nav_button('Map', map_path) %>
  <%= nav_button('Top 50', liked_shows_path, liked_tracks_path) %>
  <% #nav_button('Search', search_path) %>
</div>