<div id="gradient_mask"></div>
  
<div id="page_header">
    
  <div id="player_container">

    <div id="logo">
      <%= link_to image_tag('logo.png', alt: "Logo"), root_path %>
    </div>
    
    <div id="player_controls">
      <div id="control_previous">
        <a href="null">
          <button type="button" class="btn" id="previous"></button>
        </a>
      </div>
      <div id="control_playpause">
        <a href="null">
          <button type="button" class="btn" id="playpause"></button>
        </a>
      </div>
      <div id="control_next">
        <a href="null">
          <button type="button" class="btn" id="next"></button>
        </a>
      </div>
    </div>
      
    <div id="scrubber_controls">
      <div id="time_elapsed">
        <!-- 3:23 -->
      </div>
      <div id="scrubber"></div>
      <div id="time_remaining">
        <!-- -5:03 -->
      </div>
    </div>
      
    <%= render partial: 'layouts/player_menu' %>
    
    <div id="playlist_button">
      <a href="<%= playlist_path %>"><button type="button" class="btn"><i class="icon-list"></i></button></a>
    </div>
      
    <div id="player_title">
      <%= APP_NAME %>
    </div>
      
    <div id="player_detail">
      <%= link_to @random_song.lyrical_excerpt, "/#{@random_song.slug}" %>
    </div>
      
    <%= render partial: 'layouts/user_controls' %>
    
    <div style="clear: both;"></div>
    <div id="player_feedback"></div>
      
  </div>
</div>