<div id="player_container">

  <div id="logo">
    <%= link_to image_tag('logo.png', alt: "Logo"), root_path %>
  </div>

  <div id="player_controls">
    <div id="control_previous">
      <a href="null">
        <button type="button" class="btn" id="previous"></button>
      </a>
    </div>
    <div id="control_playpause">
      <a href="null">
        <button type="button" class="btn" id="playpause"></button>
      </a>
    </div>
    <div id="control_next">
      <a href="null">
        <button type="button" class="btn" id="next"></button>
      </a>
    </div>
  </div>
  
  <div id="scrubber_controls">
    <div id="time_elapsed">
      0:00
    </div>
    <div id="scrubber"></div>
    <div id="time_remaining">
      0:00
    </div>
  </div>
  
  <%= render partial: 'layouts/player_menu' %>

  <div id="playlist_button">
    <a href="<%= active_playlist_path %>"><button type="button" class="btn btn_invisible"><i class="icon-list"></i></button></a>
  </div>
  
  <div id="player_title_container">
    <div id="player_title">
      <%= APP_NAME %>
    </div>
    <div id="player_likes_container" style="display: none;">
      <div class="likes_large">
        <a href="null" class="like_toggle" data-id="0" data-type="track" title="Click to Like or Unlike the current track"></a><span>0</span>
      </div>
    </div>
  </div>
  
  <div id="player_detail">
    <%= link_to @random_song.lyrical_excerpt, "/#{@random_song.slug}" %>
  </div>
  
  <%= render partial: 'layouts/user_controls' %>

  <div style="clear: both;"></div>
  <div id="player_feedback"></div>
  
</div>