<!DOCTYPE html>
<html>
<head>
  <title><%= APP_NAME %></title>
  <link href='http://fonts.googleapis.com/css?family=Rambla:400,700|Armata|Fjalla+One|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDYzzl_dLU5IX4t-rpVVRcA9YtrpPEivTk&sensor=false"></script>
  <%= javascript_include_tag "application" %>
  <%= render partial: 'layouts/google_analytics' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render partial: 'layouts/data' %>
  <%= render partial: 'layouts/feedback' %>
  <%= render partial: 'layouts/ajax_overlay' %>
  <%= render partial: 'shared/user_modal' %>
  <%= render partial: 'shared/share_modal' %>
  <%= render partial: 'shared/download_modal' %>
  <%= render partial: 'layouts/page_header' %>
  
  <div id="page">
    <%= yield %>
  </div>
  
  <%= render partial: 'layouts/page_footer' %>

</body>
</html>
