<!DOCTYPE html>
<html>
<head>
  <title>phish.in</title>
  <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user_modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Sign In / Sign Up</h3>
    </div>
    <div class="modal-body">
      <p>...</p>
    </div>
    <div class="modal-footer">
      <!-- <a href="null" class="btn">Close</a> -->
      <a href="null" class="btn btn-primary">Submit</a>
    </div>
  </div>
  
  <div id="ajax_overlay">
    <%= image_tag 'ajax-loader.gif', alt: "Loading" %>
  </div>
  
  <div id="page_header_mask">
    
    <div id="player_container">
      
      <div id="logo">
        <a href="/zphishmock/index_years.html" data-title="phish.in">
          <%= image_tag 'logo.png', alt: "Logo" %>
        </a>
      </div>
    
      <div id="player_controls">
        <div id="control_previous">
          <a href="null">
            <%= image_tag 'btn-next-track.png', alt: "Previous Track" %>
          </a>
        </div>
        <div id="control_playpause">
          <a href="null">
            <%= image_tag 'btn-play.png', alt: "Play" %>
          </a>
        </div>
        <div id="control_next">
          <a href="null">
            <%= image_tag 'btn-next-track.png', alt: "Next Track" %>
          </a>
        </div>
      </div>
      
      <div id="scrubber_controls">
        <div id="time_elapsed">
          3:23
        </div>
        <div id="scrubber_track">&nbsp;</div>
        <div id="scrubber_knob">&nbsp;</div>
        <div id="time_remaining">
          -5:03
        </div>
      </div>
      
      <div id="playlist_controls">
        <a href="/zphishmock/playlist.html" data-title="Playlist">
          <%= image_tag 'icon-playlist.png', alt: "Playlist Controls" %>
        </a>
      </div>
      
      <div id="player_title">
        phish.in
      </div>
      
      <div id="player_detail">
        An asteroid crashed and nothing burned
      </div>
      
      <div id="userbox">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
            jcraigk
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="null"><i class="icon-edit"></i>&nbsp;&nbsp;Edit Profile</a></li>
            <li><a href="null"><i class="icon-heart"></i>&nbsp;&nbsp;My Likes</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
  
  <div id="page">
    
    <%= yield %>
    
  </div>
  
  <div id="footer_container">
    <p><a href="index.html">home</a> | <a href="legal.html">legal</a> | <a href="contact.html">contact</a></p>
  </div>

</body>
</html>
