<!DOCTYPE html>
<html>
<head>
  <title><%= APP_NAME %></title>
  <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDYzzl_dLU5IX4t-rpVVRcA9YtrpPEivTk&sensor=false"></script>
  <%= javascript_include_tag "application" %>
  <%= render partial: 'layouts/google_analytics' %>
  <%= csrf_meta_tags %>
</head>
<body data-base-url="<%= APP_BASE_URL %>" data-app-name="<%= APP_NAME %>" data-anchor="<%= params[:anchor].downcase if params[:anchor] %>" data-time-marker="<%= params[:t] if params[:t] %>">

  <%= render partial: 'layouts/feedback' %>
  <%= render partial: 'layouts/ajax_overlay' %>
  <%= render partial: 'shared/share_modal' %>
  <%= render partial: 'shared/save_playlist_modal' %>
  <%= render partial: 'shared/download_modal' %>
  <%= render partial: 'layouts/page_header' %>
  
  <div id="page">
    <%= yield if xhr_exempt_controller %>
  </div>
  
  <%= render partial: 'layouts/page_footer' %>

</body>
</html>
